TcpConsumer/Service References/AuthorProxy/Spike.Contracts.Authors.Requests.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Spike.Contracts.Authors.Requests" elementFormDefault="qualified" targetNamespace="Spike.Contracts.Authors.Requests" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AddAuthorRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="BirthDay" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AddAuthorRequest" nillable="true" type="tns:AddAuthorRequest" />
</xs:schema>