LocalPipeConsumer/Service References/AuthorProxy/Spike.Contracts.Services.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Spike.Contracts.Services" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Spike.Contracts.Services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Spike.Contracts.Services/Imports">
      <xsd:import namespace="Spike.Contracts.Services" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="Spike.Contracts.Authors.Requests" />
      <xsd:import namespace="Spike.Contracts.Authors" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAuthorService_AddAuthor_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAuthor" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_AddAuthor_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAuthorResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetAllAuthors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAuthors" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetAllAuthors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAuthorsResponse" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetAuthorById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorById" />
  </wsdl:message>
  <wsdl:message name="IAuthorService_GetAuthorById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAuthorByIdResponse" />
  </wsdl:message>
  <wsdl:portType name="IAuthorService">
    <wsdl:operation name="AddAuthor">
      <wsdl:input wsaw:Action="Spike.Contracts.Services/IAuthorService/AddAuthor" message="tns:IAuthorService_AddAuthor_InputMessage" />
      <wsdl:output wsaw:Action="Spike.Contracts.Services/IAuthorService/AddAuthorResponse" message="tns:IAuthorService_AddAuthor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAuthors">
      <wsdl:input wsaw:Action="Spike.Contracts.Services/IAuthorService/GetAllAuthors" message="tns:IAuthorService_GetAllAuthors_InputMessage" />
      <wsdl:output wsaw:Action="Spike.Contracts.Services/IAuthorService/GetAllAuthorsResponse" message="tns:IAuthorService_GetAllAuthors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthorById">
      <wsdl:input wsaw:Action="Spike.Contracts.Services/IAuthorService/GetAuthorById" message="tns:IAuthorService_GetAuthorById_InputMessage" />
      <wsdl:output wsaw:Action="Spike.Contracts.Services/IAuthorService/GetAuthorByIdResponse" message="tns:IAuthorService_GetAuthorById_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>